@using TatilSeyahat_.Models.Siniflar
@model List<Blog>
<div class="box1-left">
    @foreach (var x in Model)
    {
        <div class="bot-img">
            <img src="@x.BlogImage" alt="" style="width:425px; height:105px;" />
        </div>
        <div class="bot-desc1">
            <p>@x.Aciklama.Substring(0, 75) </p>
        </div>
        <div class="clear"></div>

    }
</div>




